<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8">
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    <link rel="stylesheet" href="/css/styles.css">

    
</head>
<body>
    <header>
    
            <h1><a href="/">{{ .Site.Title }}</a></h1>
            <nav>
                <ul>
                    {{ range .Site.Menus.main }}
                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </nav>
    </header>
    <main>
        {{ .Content }}
    </main>
    <footer>
        &copy; {{ now.Year }} {{ .Site.Title }}
    </footer>
</body>
</html>
